/*---------------*/
/*-- DECORATOR --*/
/*---------------*/
.jfx-decorator {
    -fx-decorator-color: #1e293a;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

/*----------------*/
/*-- TEXTFIELDS --*/
/*----------------*/
.error-textfield{
    -fx-background-color: #ffb2b2;
}

/*------------*/
/*-- TABLES --*/
/*------------*/
.tree-table-view {
    -fx-tree-table-color: #30415d;
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color : #949494;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

/*------------------*/
/*-- DATE PICKERS --*/
/*------------------*/

.jfx-date-picker .month-year-pane, .jfx-date-picker > .arrow-button > .jfx-svg-glyph {
    -fx-background-color: #30415d;
}
